﻿@{
    ViewData["Title"] = "Reason List";
}

<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>Reason</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Reason")">Reason</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reason List</h5>
                </div>
                <div class="ibox-content">
                    <span class="label label-add"><a href="@Url.Action("Data", "Reason")" style="color:#FFF;">Add Reason</a></span> <span class="label label-manage"><a href="@Url.Action("Index", "ReasonStatus")" style="color: #FFF;">Manage Status</a></span><br /><br />
                    <table class="table table-striped table-bordered table-condensed table-hover dataTables-config-list">
                        <thead>
                        <tr>
                            <th class="col-sm-2">Action</th>
                            <th class="col-sm-8">Reason</th>
                            <th class="col-sm-2">Status</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/dataTables/extensions/Scroller/css/scroller.dataTables.min.css" />  
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/extensions/Scroller/js/dataTables.scroller.min.js"></script>        
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-config-list').DataTable({
                "dom": 'lTftp',
                "ajax": '@Url.Action("GetReasonList", "Reason")',
                "columns": [
                    {
                        "data": "Id", "render": function (data, type, row) {
                            return '<span class="label label-edit"><a href="@Url.Action("Data", "Reason")/' + data + '" style="color:#FFF;">Edit</a></span> ' +
                                   '<span class="label label-delete"><a href="javascript:deleteData(' + data + ');" style="color:#FFF;">Delete</a></span>';
                        }
                    },
                    { "data": "Description" },
                    { "data": "StatusDescription" }
                ]
            });
            @if((TempData["notification"] as int?) == 0)
            {
                @:toastr.success('A new data has been saved');
            }
            @if((TempData["notification"] as int?) == 1)
            {
                @:toastr.success('Data has been updated');
            }
        });

        function deleteData(id)
        {
            $.post("@Url.Action("DeleteReason", "Reason")", { id: id }, function (data) {
                if (data == 1)
                {
                    $('.dataTables-config-list').DataTable().ajax.reload();
                    toastr.warning('Data has been deleted');
                }
                else if(data == 2)
                {
                    toastr.error('Data can not be deleted because it is being used as a reference in another data', 'Foreign key constraint violation');
                }
                else
                {
                    toastr.error('Failed to delete data');
                }
            });
        }
    </script>
}
