﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ACM</title>

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <environment names="Development">
        <link rel="stylesheet" href="~/lib_bower/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib_bower/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/Content/animate.css" />
        <link rel="stylesheet" href="~/Content/style-landing.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib_bower/toastr/toastr.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib_bower/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib_bower/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/Content/animate.css" />
        <link rel="stylesheet" href="~/Content/style-landing.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib_bower/toastr/toastr.css" />
    </environment>
</head>
<body class="fixed-sidebar">
    <!-- Top Navbar -->
    @Html.Partial("_WaitModal")
    @Html.Partial("_TopNavbar")
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">
            <!-- Main view  -->
            @RenderBody()
        </div>
        <!-- End page wrapper-->
    </div>
    <!-- End wrapper-->

    <environment names="Development">
        <script src="~/lib_bower/jquery/dist/jquery.js"></script>
        <script src="~/lib_bower/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib_bower/toastr/toastr.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib_bower/jquery/dist/jquery.min.js"></script>
        <script src="~/lib_bower/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib_bower/toastr/toastr.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
            $(document).ajaxStart(function () { $('.ajax_loader_block').show(); $('.ajax_loader').show(); });
            $(document).ajaxStop(function () { $('.ajax_loader_block').hide(); $('.ajax_loader').hide() });
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
