﻿@using System.Security.Claims;
@{

    string role = (User.Identity as ClaimsIdentity).FindFirst(ClaimTypes.Role).Value;
    string area = (User.Identity as ClaimsIdentity).FindFirst("Area").Value;
}

<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <img alt="image" style="padding-top: 10px;padding-left:20px;" src="~/Content/Images/logotrakindo.jpg">
        </div>
        <ul class="nav navbar-top-links navbar-left" style="padding-left:50px;">
            <li>
                <a href="@Url.Action("Index", "ArAging")">
                    AR Status
                </a>
            </li>
            @if (role == "finance" || role == "admin")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Report <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Report")">AR Status</a></li>
                        @if (role == "admin" || area == "Z")
                        {
                            <li><a href="@Url.Action("EmailRecord", "Report")">Email Notification</a></li>
                        }
                        <li><a href="@Url.Action("ARConsolidatedByArea", "Report")">AR Consolidated by Area</a></li>
                        <li><a href="@Url.Action("ARConsolidatedByLob", "Report")">AR Consolidated by LOB</a></li>
                    </ul>
                </li>
                if (role == "admin" || (role == "finance" && area == "Z"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Web Management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Reason")">Reason</a></li>
                            <li><a href="@Url.Action("Index", "ProfitCenter")">Profit Center</a></li>
                            <li><a href="@Url.Action("Index", "CustomerMarketSector")">Market Sector</a></li>
                            <li><a href="@Url.Action("Index", "CustomerClassification")">Customer Classification</a></li>
                            <li><a href="@Url.Action("Index", "Email")">Email Configuration</a></li>
                        </ul>
                    </li>
                }
            }
            <li>
                <a href="@System.Configuration.ConfigurationManager.AppSettings["CollectionDays"]" target="_blank">
                    Collection Days
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">@User.Identity.Name <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Logout", "Account")">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
