﻿<div class="ajax_loader_block" style="display:none;"></div>
<div class="ajax_loader" style="display:none;">
    <div class="loaderMiddle">
        <img src="~/Content/Images/rolling.svg"><br /><br />
        <span style="color: #eda313;font-size:20px;">Please Wait</span>
    </div>    
</div>
