﻿@{
    ViewData["Title"] = "Error";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>Error</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="~Views/Shared/Error">Error</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Error</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <h2>An error occurred while processing your request.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>