﻿@using CollectionMonitoringSystem.Context;
@using CollectionMonitoringSystem.Context.Models;
@using System.Collections.Generic;
@model CustomerMarketSectorModel
@{
    ViewBag.Title = ViewBag.SubTitle + " Customer Market Sector";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.SubTitle Customer Market Sector</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "CustomerMarketSector")">Customer</a>
            </li>
            <li>
                <a href="#">@ViewBag.SubTitle</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Customer Market Sector @ViewBag.SubTitle Form</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Data", "CustomerMarketSector", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label class="col-md-2 control-label">Customer Number</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.CustomerNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CustomerNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Customer Name</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Market Sector</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.MarketSectorId, new SelectList((IList<MarketSector>)ViewBag.SectorList, "Id", "Description"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.MarketSectorId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>