﻿@using CollectionMonitoringSystem.Context;
@using CollectionMonitoringSystem.Context.Models;
@using System.Collections.Generic;
@model CustomerClassificationModel
@{
    ViewBag.Title = ViewBag.SubTitle + " Customer Classification";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.SubTitle Customer Classification</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "CustomerClassification")">Customer</a>
            </li>
            <li>
                <a href="#">@ViewBag.SubTitle</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Customer Classification @ViewBag.SubTitle Form</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Data", "CustomerClassification", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label class="col-md-2 control-label">Customer Number</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.CustomerNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CustomerNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Customer Name</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Classification</label>
                                <div class="col-md-10">
                                    @Html.ListBoxFor(x => x.ClassificationIdList, new MultiSelectList((IList<Classification>)ViewBag.ClassificationList, "Id", "Description"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                    @Html.ValidationMessageFor(x => x.ClassificationIdList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/chosen/chosen.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/chosen/chosen.jquery.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                '.chosen-select-width': { width: "95%" }
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
        });
    </script>
}
