﻿@using CollectionMonitoringSystem.Context.Models;
@model IEnumerable<ArConsolidatedChartModel>
@{
    ViewData["Title"] = "AR Consolidated by LOB Report";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>AR Consolidated by LOB Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("ARConsolidatedByLob", "Report")">AR Consolidated by LOB Report</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>AR Consolidated by LOB Report</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-inline row">
                        <div class="form-inline col-lg-6" id="Outstanding" style="height: 350px;"></div>
                        <div class="form-inline  col-lg-6" id="Overdue" style="height: 350px;"></div>
                    </div>
                    <table class="table table-striped table-bordered table-condensed table-hover dataTables-config-list">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Outstanding</th>
                                <th>Overdue</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ArConsolidatedChartModel data in Model)
                            {
                                <tr>
                                    <td>@data.Name</td>
                                    <td>@data.OutStanding</td>
                                    <td>@data.Overdue</td>
                                    <td>@((data.Overdue / data.OutStanding) * 100) <span>%</span></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib_bower/amcharts/amcharts.js"></script>
        <script src="~/lib_bower/amcharts/pie.js"></script>
    </environment>

    <script type="text/javascript">
        Number.prototype.formatMoney = function (places, symbol, thousand, decimal) {
            places = !isNaN(places = Math.abs(places)) ? places : 2;
            symbol = symbol !== undefined ? symbol : "$";
            thousand = thousand || ",";
            decimal = decimal || ".";
            var number = this,
                negative = number < 0 ? "-" : "",
                i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
                j = (j = i.length) > 3 ? j % 3 : 0;
            return negative + symbol + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
        };

        $(document).ready(function () {
            $('.dataTables-config-list').DataTable({
                dom: 't',
                columnDefs: [
                    {
                        "targets": [1, 2],
                        "class": "text-right",
                        "render": function (data, type, row) {
                            var nilai = parseFloat(data);
                            return nilai.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "targets": 3,
                        "class": "text-right",
                        "render": function (data, type, row) {
                            var nilai = parseFloat(data);
                            return nilai.formatMoney(2, "", ",", ".");
                        }
                    }
                ],
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;

                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    if (api.column(1).data().length) {
                        var totalOutstanding = api
                            .column(1, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            });
                        $(api.column(1).footer()).html(totalOutstanding.formatMoney(2, "$", ",", "."));
                    } else { totalOutstanding = 0; }

                    if (api.column(2).data().length) {
                        var totalOverdue = api
                            .column(2, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            });
                        $(api.column(2).footer()).html(totalOverdue.formatMoney(2, "$", ",", "."));
                    } else { totalOverdue = 0; }

                    var totalPercent = (totalOverdue / totalOutstanding) * 100;
                    $(api.column(3).footer()).html(totalPercent.formatMoney(2, "", ",", ".") + ' %');
                },
                order: []
            });

            var chartData = [
                {
                    "country": "Czech Republic",
                    "litres": 156.9
                },
                {
                    "country": "Ireland",
                    "litres": 61.1
                },
                {
                    "country": "Germany",
                    "litres": 115.8
                },
                {
                    "country": "Australia",
                    "litres": 109.9
                },
                {
                    "country": "Austria",
                    "litres": 108.3
                },
                {
                    "country": "UK",
                    "litres": 65
                },
                {
                    "country": "Belgium",
                    "litres": 50
                },
                {
                    "country": "Indonesia",
                    "litres": 509
                }
            ];

            loadChart(chartData, "Outstanding");
            loadChart(chartData, "Overdue");
        });

        function loadChart(data, chartname) {
            var chart;
            var legend;

            AmCharts.ready(function () {
                // PIE CHART
                chart = new AmCharts.AmPieChart();
                chart.dataProvider = data;
                chart.labelsEnabled = false;
                chart.titleField = "country";
                chart.valueField = "litres";
                chart.outlineColor = "#FFFFFF";
                chart.outlineAlpha = 0.8;
                chart.outlineThickness = 2;
                //chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
                // this makes the chart 3D
                chart.depth3D = 15;
                chart.angle = 30;

                // LEGEND
                legend = new AmCharts.AmLegend();
                legend.align = "center";
                legend.markerType = "circle";
                //chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
                chart.addLegend(legend);

                chart.addTitle(chartname, 'b', 'c', 'd', 'e');

                // WRITE
                chart.write(chartname);
            });
        }
    </script>
}
