﻿@using CollectionMonitoringSystem.Context.Models;
@model IEnumerable<EmailNotificationRecordModel>
@{
    ViewData["Title"] = "Email Notification Record";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>Email Notification Record</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("EmailRecord", "Report")">Report Email Notification</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Record List</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-condensed table-hover dataTables-config-list">
                        <thead>
                            <tr>
                                <th>Customer Number</th>
                                <th>Area</th>
                                <th>Sales Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(EmailNotificationRecordModel data in Model)
                            {
                                <tr>
                                    <td>@data.CustomerGroup</td>
                                    <td>@data.Area</td>
                                    <td>@data.SalesName</td>
                                    <td>@data.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-config-list').DataTable({
                dom: 'tp',
                order: []
            });
        });
    </script>
}
