﻿@using CollectionMonitoringSystem.Context.Models;
@model ReportFilterModel
@{
    ViewData["Title"] = "AR Status Report";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="#">AR Status</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Report AR Status</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-horizontal">
                                @using (Html.BeginForm("Index", "Report", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Company Code</label>
                                        <div class="col-xs-9">
                                            @Html.ListBoxFor(x => x.SelectedCompanyCode, new MultiSelectList(Model.CompanyCode, "Id", "Value"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Customer Group</label>
                                        <div class="col-xs-9">
                                            @Html.ListBoxFor(x => x.SelectedCustomerGroup, new MultiSelectList(Model.CustomerGroup, "Value", "Value"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Area</label>
                                        <div class="col-xs-9">
                                            @Html.ListBoxFor(x => x.SelectedArea, new MultiSelectList(Model.Area, "Value", "Name"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Business Area</label>
                                        <div class="col-xs-9">
                                            @Html.ListBoxFor(x => x.SelectedBusinessArea, new MultiSelectList(Model.BusinessArea, "Value", "Name"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                            <label class="col-xs-3 control-label">Profit Center</label>
                                            <div class="col-xs-9">
                                                @Html.ListBoxFor(x => x.SelectedProfitCenter, new MultiSelectList(Model.ProfitCenter, "Id", "Name"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Market Sector</label>
                                        <div class="col-xs-9">
                                            @Html.ListBoxFor(x => x.selectedMarketSector, new MultiSelectList(Model.MarketSector, "Id", "Name"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Classification</label>
                                        <div class="col-xs-9">
                                            @Html.ListBoxFor(x => x.selectedClassification, new MultiSelectList(Model.Classification, "Value", "Name"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Orderby Largest Overdue?</label>
                                        <div class="col-xs-9">
                                            @Html.CheckBoxFor(x => x.LargestOverdue)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Top</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(x => x.TakeTop, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" value="Generate Report" class="btn btn-success" />
                                            <input type="button" value="Generate Excel" class="btn btn-info" onclick="generateExcel();" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="text-right pull-right" style="margin-top:-5px;margin-right:20px;">
                                <div class="inline">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle hideshow btn btn-white" style="padding:4px 4px 4px 4px; margin-top:5px;" href="#"><i class="glyphicon glyphicon-menu-hamburger"></i><i class="caret"></i></a>
                                        <ul class="dropdown-menu dropdown-hideshow" style="left:-400px!important;">
                                            <li>
                                                <div class="dropdown-messages-box">
                                                    <label class="control-label">Show / Hide Columns</label>
                                                </div>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(0);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(0);">Customer Group</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(1);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(1);">Market Sector</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(2);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(2);">Classification</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(3);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(3);">Customer Number</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(4);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(4);">Customer Name</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(5);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(5);">Area</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(6);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(6);">Business Area</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(7);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(7);">Not Yet Due</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(8);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(8);">Due</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(9);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(9);">Current</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(10);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(10);">Overdue (0-30 days)</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(11);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(11);">Overdue (31-60 days)</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(12);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(12);">Overdue (61-90 days)</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(13);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(13);">Overdue (91-120 days)</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(14);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(14);">Overdue (121-360 days)</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(15);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(15);">Overdue (>360 days)</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(16);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(16);">Unapplied</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(17);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(17);">Total Outstanding</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(18);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(18);">Total Overdue</label></div></div>
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(19);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(19);">Net Overdue</label></div></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(20);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(20);">Description</label></div></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-condensed table-bordered table-striped table-hover dataTables-config-list nowrap">
                                <thead>
                                    <tr>
                                        <th>Customer Group</th>
                                        <th>Market Sector</th>
                                        <th>Classification</th>
                                        <th>Customer Number</th>
                                        <th>Customer Name</th>
                                        <th>Area</th>
                                        <th>Business Area</th>
                                        @*<th>Profit Center</th>*@
                                        <th>Not Yet Due</th>
                                        <th>Due</th>
                                        <th>Current</th>
                                        <th>Overdue (0-30 days)</th>
                                        <th>Overdue (31-60 days)</th>
                                        <th>Overdue (61-90 days)</th>
                                        <th>Overdue (91-120 days)</th>
                                        <th>Overdue (121-360 days)</th>
                                        <th>Overdue (>360 days)</th>
                                        <th>Unapplied</th>
                                        <th>Total Outstanding</th>
                                        <th>Total Overdue</th>
                                        <th>Net Overdue</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (SourceArModel data in Model.ReportData)
                                    {
                                        <tr>
                                            <td>@data.CustomerGroup</td>
                                            <td>@data.MarketSector</td>
                                            <td>@data.Classification</td>
                                            <td>@data.CustomerNumber</td>
                                            <td>@data.CustomerName</td>
                                            <td>@data.AreaName</td>
                                            <td>@data.BusinessArea</td>
                                            @*<td>@data.ProfitCenterName</td>*@
                                            <td>@data.NotYetDue</td>
                                            <td>@data.Due</td>
                                            <td>@data.Current</td>
                                            <td>@data.OverDue30</td>
                                            <td>@data.OverDue60</td>
                                            <td>@data.OverDue90</td>
                                            <td>@data.OverDue120</td>
                                            <td>@data.OverDue360</td>
                                            <td>@data.OverDueGreaterThan360</td>
                                            <td>@data.UnApplied</td>
                                            <td>@data.TotalOutstanding</td>
                                            <td>@data.TotalOverDue</td>
                                            <td>@data.NetOverdue</td>
                                            <td>@data.Description</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th style="text-align: right;"><label id="gt7"></label></th>
                                        <th style="text-align: right;"><label id="gt8"></label></th>
                                        <th style="text-align: right;"><label id="gt9"></label></th>
                                        <th style="text-align: right;"><label id="gt10"></label></th>
                                        <th style="text-align: right;"><label id="gt11"></label></th>
                                        <th style="text-align: right;"><label id="gt12"></label></th>
                                        <th style="text-align: right;"><label id="gt13"></label></th>
                                        <th style="text-align: right;"><label id="gt14"></label></th>
                                        <th style="text-align: right;"><label id="gt15"></label></th>
                                        <th style="text-align: right;"><label id="gt16"></label></th>
                                        <th style="text-align: right;"><label id="gt17"></label></th>
                                        <th style="text-align: right;"><label id="gt18"></label></th>
                                        <th style="text-align: right;"><label id="gt19"></label></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/dataTables/extensions/Scroller/css/scroller.dataTables.min.css" />
        <link rel="stylesheet" href="~/lib_bower/chosen_v1.7.0/chosen.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
        <script src="~/lib_bower/chosen_v1.7.0/chosen.jquery.min.js"></script>
    </environment>

    <script type="text/javascript">
        Number.prototype.formatMoney = function (places, symbol, thousand, decimal) {
            places = !isNaN(places = Math.abs(places)) ? places : 2;
            symbol = symbol !== undefined ? symbol : "$";
            thousand = thousand || ",";
            decimal = decimal || ".";
            var number = this,
                negative = number < 0 ? "-" : "",
                i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
                j = (j = i.length) > 3 ? j % 3 : 0;
            return negative + '  ' + symbol + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
        };

        $(document).ready(function () {
            $('.dataTables-config-list').DataTable({
                dom: 'tp',
                scrollX: true,
                columnDefs: [
                    {
                        "targets": [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
                        "class": "text-right",
                        "render": function (data, type, row) {
                            var nilai = parseFloat(data);
                            return nilai.formatMoney(2, "$", ",", ".");
                        }
                    }
                ],
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;

                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    var colNumber = [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19];

                    for (i = 0; i < colNumber.length; i++) {
                        if (api.column(colNumber[i]).data().length) {
                            var pageTotal = api
                                .column(colNumber[i], { page: 'current' })
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                });

                            var grandTotal = api
                                .column(colNumber[i])
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                });
                        }
                        else { pageTotal = 0, grandTotal = 0 };

                        $(api.column(colNumber[i]).footer()).html(pageTotal.formatMoney(2, "$", ",", "."));
                        $("#gt" + (i + 7)).text(grandTotal.formatMoney(2, "$", ",", "."));
                    }
                },
                order: []
            });

            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                '.chosen-select-width': { width: "95%" }
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
        });

        function generateExcel() {
            var SelectedCompanyCode = "";
            $('#SelectedCompanyCode option:selected').each(function (index, element) {
                SelectedCompanyCode += element.value + ",";
            });
            var SelectedCustomerGroup = "";
            $('#SelectedCustomerGroup option:selected').each(function (index, element) {
                SelectedCustomerGroup += element.value + ",";
            });
            var SelectedProfitCenter = "";
            $('#SelectedProfitCenter option:selected').each(function (index, element) {
                SelectedProfitCenter += element.value + ",";
            });
            var selectedMarketSector = "";
            $('#selectedMarketSector option:selected').each(function (index, element) {
                selectedMarketSector += element.value + ",";
            });
            var SelectedArea = "";
            $('#SelectedArea option:selected').each(function (index, element) {
                SelectedArea += element.value + ",";
            });
            var selectedClassification = "";
            $('#selectedClassification option:selected').each(function (index, element) {
                selectedClassification += element.value + ",";
            });
            var isLargestOverdue = "false";
            if ($('#LargestOverdue').is(":checked")) {
                isLargestOverdue = "true";
            }
            var topNumber = $('#TakeTop').val();


            window.open("@Url.Action("GenerateExcelReportArAging", "Report")?sarea=" + SelectedArea + "&scomp=" + SelectedCompanyCode + "&sgrou=" + SelectedCustomerGroup + "&sprof=" + SelectedProfitCenter + "&smark=" + selectedMarketSector + "&sclas=" + selectedClassification + "&ssort=" + isLargestOverdue + "&stopn=" + topNumber);
        }

        $('div.dropdown a').on('click', function (event) {
            $(this).parent().toggleClass('open');
        });

        $('body').on('click', function (e) {
            if (!$('div.dropdown').is(e.target)
                && $('div.dropdown').has(e.target).length === 0
                && $('.open').has(e.target).length === 0
            ) {
                $('div.dropdown').removeClass('open');
            }
        });

        function showHide(col) {
            var table = $('.dataTables-config-list').DataTable();
            var column = table.column(col);
            column.visible(!column.visible());
        }

        function showHideC(col) {
            var table = $('.dataTables-config-list').DataTable();
            var column = table.column(col);
            column.visible(!column.visible());

            $('.lewatC')[col].checked = !$('.lewatC')[col].checked;
        }
    </script>
}
