﻿@using CollectionMonitoringSystem.Context;
@using CollectionMonitoringSystem.Models;
@using CollectionMonitoringSystem.Context.Models;
@using System.Collections.Generic;
@model FinanceDataModel
@{
    ViewBag.Title = ViewBag.SubTitle + " Employee Data";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.SubTitle Employee</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Email")">Email Configuration</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Finance")">Employee</a>
            </li>
            <li>
                <a href="#">@ViewBag.SubTitle</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Employee @ViewBag.SubTitle Form</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Data", "Finance", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group required">
                                <label class="col-md-2 control-label">Business Area</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.FinanceModel.BusinessArea, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.FinanceModel.BusinessArea, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-2 control-label">Employee Name</label>
                                <div class="col-md-10 ">
                                    <select id="cmbName" class="chosenName form-control">
                                        <option></option>
                                        @foreach(var x in Model.EmployeeMasters)
                                        {
                                            <option value="@x.Xupj">@x.EmployeeName</option>
                                        }
                                    </select><br />
                                    @Html.TextBoxFor(x => x.FinanceModel.Name, new { @class = "form-control", style = "display: none;" })
                                    @Html.ValidationMessageFor(x => x.FinanceModel.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-2 control-label">Position Type</label>
                                <div class="col-md-10 ">
                                    @Html.EnumDropDownListFor(x => x.FinanceModel.PositionType, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.FinanceModel.PositionType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-2 control-label">Position Name</label>
                                <div class="col-md-10 ">
                                    @Html.TextBoxFor(x => x.FinanceModel.PositionName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.FinanceModel.PositionName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-2 control-label">Email</label>
                                <div class="col-md-10 ">
                                    @Html.TextBoxFor(x => x.FinanceModel.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.FinanceModel.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/dataTables/extensions/Scroller/css/scroller.dataTables.min.css" />
        <link rel="stylesheet" href="~/lib_bower/chosen_v1.7.0/chosen.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib_bower/chosen_v1.7.0/chosen.jquery.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosenName").chosen({
                 disable_search_threshold: 10,
                 no_results_text: "Oops, nothing found!",
                 width: "250"
             });
        });

        $('#cmbName').change(function () {
            $('#FinanceModel_Name').val($('#cmbName option:selected').text());
            LoadData($(this).val());
            LoadPosition($(this).val());
        });        

        function LoadData(val)
        {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetEmployeeEmail", "Finance")?xupj=' + val,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                async: false,
                success: function (myJSONString) {
                    if (myJSONString.length == 0 || myJSONString.indexOf('Failed') !== -1)
                    {
                        toastr.error('Failed to retrive email via portal service. Please input email manually');
                        $('#FinanceModel_Email').val('');
                    }                        
                    else
                    {
                        $('#FinanceModel_Email').val(myJSONString);
                    }                        
                },
                error: function (response) {
                    toastr.error('Failed to retrive email via portal service. Please input email manually');
                    $('#FinanceModel_Email').val('');
                }
            });
        }

        function LoadPosition(val) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetEmployeePosition", "Finance")?xupj=' + val,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                async: false,
                success: function (myJSONString) {
                    if (myJSONString.length == 0)
                    {
                        toastr.error('Failed to retrive position name. Please input position name manually');
                        $('#FinanceModel_PositionName').val('');
                    }                        
                    else
                    {
                        $('#FinanceModel_PositionName').val(myJSONString);
                    }                       
                },
                error: function (response) {
                    toastr.error('Failed to retrive position name. Please input position name manually');
                    $('#FinanceModel_PositionName').val('');
                }
            });
        }
    </script>
}
