﻿body {
    background:#000000;
}

h2 small {
    font-size:50%
}

body > .header {
	position:relative;
	max-height:100px;
	z-index:1030;
	top:0;
	left:0;
	right:0;
	background:#000000;
}

body > .header .logo {
	float:left;
	font-size:20px;
	text-align:center;
	padding:20px 10px;
	width:220px;
	font-family:'Kaushan Script', cursive;
	font-weight:500;
	display:block;
}

.logo img {
	border:2px solid #FFFFFF;
}

.navbar {
	margin-bottom:0px !important;
	min-height:0px !important;
}

.bg {
	background:url('../content/images/backgroundLogin.jpg') no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	min-height:487px;
	padding-top:60px;
}

/** LOGIN **/
.form-signin-1 {
    max-width:330px;
    margin:0px auto;
    background:#FFFFFF;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.form-signin-1 .form-signin-heading {
    margin:0;
    padding:25px 0 10px 0;
    text-align:center;
    color:#FFFFFF;
}

.form-signin-1 input[type="text"], .form-signin-1 input[type="password"] {
	margin-bottom:15px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:1px solid #eaeaec;
	background:#eaeaec;
	box-shadow:none;
	font-size:14px;
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	line-height:1.42857143;
}

.form-signin-1 .btn-login {
   	background:#F39C12;
	color:#FFFFFF;
	text-transform:uppercase;
	font-weight:normal;
	padding:5px;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;

}

.login-button {
	font-size:17px;
}

.form-signin-1 .form-control {
    position:relative;
    box-sizing"border-box;"
}

.login-wrap {
    padding: 10px 20px 20px 20px;
    position: relative;
}

.registration {
	color:#6BC5A4;
	text-align:center;
	margin-top:15px;
}

.registration a {
	color:#0e617a;
	font-weight:600;
}

.registration a:hover {
	color:#E4672E;
}

@media screen and (max-width: 768px) {
	body > .header {
		position:relative;
	}
	
	body > .header .logo, body > .header .navbar {
		width:100%;
		float:none;
		position:relative !important;
	}

    .bg {
    	background:#FDBA13;
        min-height:0px;
        padding:35px 0;
    }
}