﻿body {
    overflow:hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:80px;
    overflow:hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.containerContent{
    width:100%;
    padding-left:15px;
    padding-right: 15px;
    padding-top:15px;
    font-size:10px;
}
