﻿@using CollectionMonitoringSystem.Context.Models
@model ArDetailModel
@{
    ViewData["Title"] = "AR Status Detail";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>AR Status Detail</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ArAging")">AR Status</a>
            </li>
            <li>
                <a href="#">AR Status Detail</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom:0px!important;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="margin-bottom:5px!important;">
                <div class="ibox-title">
                    <h5>Detail</h5>
                </div>
                <div class="ibox-content" style="padding-bottom:0px!important;">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <div class="form-horizontal">
                               <div class="row">
                                    <div class="col-md-6">Customer Group :</div>
                                    <div class="col-md-6">@Model.CustomerGroup</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Customer Number :</div>
                                    <div class="col-md-6">@Model.CustomerNumber</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Area :</div>
                                    <div class="col-md-6">@Model.SourceData.Select(x => x.AreaName).FirstOrDefault()</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">Customer Name :</div>
                                    <div class="col-md-6">@Model.SourceData.Select(x => x.CustomerName).FirstOrDefault()</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Market Sector :</div>
                                    <div class="col-md-6">@Model.SourceData.Select(x => x.MarketSector).FirstOrDefault()</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Business Area :</div>
                                    <div class="col-md-6">@Model.BusinessArea</div>
                                </div>
                                @*<div class="row">
                                    <div class="col-md-6">Total Outstanding by Customer Group :</div>
                                    <div class="col-md-6">@Model.SourceData.Sum(x => x.TotalOutstanding)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Total Overdue by Customer Group :</div>
                                    <div class="col-md-6">@Model.SourceData.Sum(x => x.TotalOverDue)</div>
                                </div>*@
                            </div>
                        </div>   
                        <div class="col-md-1"></div>        
                                  
                    </div>
                    <br class="clear" />   
                    <div class="row">
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-condensed table-hover dataTables-config-list nowrap">
                                <thead>
                                <tr>
                                    <th>Profit Center</th>
                                    <th>Aging (days)</th>
                                    <th>Amount in Loc. Curr.</th>
                                    <th>Not Yet Due</th>
                                    <th>Due</th>
                                    <th>Current</th>
                                    <th>Overdue (0-30 days)</th>
                                    <th>Overdue (31-60 days)</th>
                                    <th>Overdue (61-90 days)</th>
                                    <th>Overdue (91-120 days)</th>
                                    <th>Overdue (121-360 days)</th>
                                    <th>Overdue (>360 days)</th>
                                    <th>Unapplied</th>
                                    <th>Total Overdue</th>
                                    <th>Total Outstanding</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var data in Model.SourceData)
                                    {
                                        <tr>
                                            <td>@data.ProfitCenterName</td>
                                            <td class="text-right">@data.Aging</td>
                                            <td class="text-right">@data.AmountDocCur</td>
                                            <td class="text-right">@data.NotYetDue</td>
                                            <td class="text-right">@data.Due</td>
                                            <td class="text-right">@data.Current</td>
                                            <td class="text-right">@data.OverDue30</td>
                                            <td class="text-right">@data.OverDue60</td>
                                            <td class="text-right">@data.OverDue90</td>
                                            <td class="text-right">@data.OverDue120</td>
                                            <td class="text-right">@data.OverDue360</td>
                                            <td class="text-right">@data.OverDueGreaterThan360</td>
                                            <td class="text-right">@data.UnApplied</td>
                                            <td class="text-right">@data.TotalOverDue</td>
                                            <td class="text-right">@data.TotalOutstanding</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/dataTables/extensions/Scroller/css/scroller.dataTables.min.css" />
        <link rel="stylesheet" href="~/lib/dataTables/extensions/Buttons/css/buttons.dataTables.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
        <script src="~/lib/dataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-config-list').DataTable({
                scrollX: true
            });
        });
    </script>
}
