﻿@{
    ViewData["Title"] = "AR Status";
}
@using CollectionMonitoringSystem.Context.Models
@model ReportFilterModel
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>AR Status</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="#">AR Status</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Last Update (@Model.LastUpdate)</h5>
                </div>
                <div class="ibox-content">
                    <div class="text-right pull-right" style="margin-top:-5px;margin-right:20px;">
                        <div class="inline">
                            <div class="dropdown">
                                <a class="dropdown-toggle hideshow btn btn-white" style="padding:4px 4px 4px 4px; margin-top:5px;" href="#"><i class="glyphicon glyphicon-search"></i><i class="caret"></i></a>
                                <ul class="dropdown-menu dropdown-hideshow" style="left:-400px!important;">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <label class="control-label">Advance Search</label>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Company Code</label>
                                            <div class="col-xs-8">
                                                @Html.ListBoxFor(x => x.SelectedCompanyCode, new MultiSelectList(Model.CompanyCode, "Id", "Value"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Customer Group</label>
                                            <div class="col-xs-8">
                                                @Html.ListBoxFor(x => x.SelectedCustomerGroup, new MultiSelectList(Model.CustomerGroup, "Value", "Value"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Area</label>
                                            <div class="col-xs-8">
                                                @Html.ListBoxFor(x => x.SelectedArea, new MultiSelectList(Model.Area, "Value", "Name"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Business Area</label>
                                            <div class="col-xs-8">
                                                @Html.ListBoxFor(x => x.SelectedBusinessArea, new MultiSelectList(Model.BusinessArea, "Value", "Name"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Market Sector</label>
                                            <div class="col-xs-8">
                                                @Html.ListBoxFor(x => x.selectedMarketSector, new MultiSelectList(Model.MarketSector, "Id", "Name"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Classification</label>
                                            <div class="col-xs-8">
                                                @Html.ListBoxFor(x => x.selectedClassification, new MultiSelectList(Model.Classification, "Value", "Name"), new { multiple = "multiple", @class = "form-control chosen-select" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 pull-right">
                                                <br />
                                                <input type="button" id="btnSearch" value="Search" class="btn btn-small btn-success" onclick="advanceSearch();" />
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="inline">
                            <div class="dropdown">
                                <a class="dropdown-toggle hideshow btn btn-white" style="padding:4px 4px 4px 4px; margin-top:5px;" href="#"><i class="glyphicon glyphicon-menu-hamburger"></i><i class="caret"></i></a>
                                <ul class="dropdown-menu dropdown-hideshow" style="left:-400px!important;">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <label class="control-label">Show / Hide Columns</label>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(1);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(1);">Customer Group</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(2);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(2);">Market Sector</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(3);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(3);">Classification</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(4);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(4);">Customer Number</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(5);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(5);">Customer Name</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(6);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(6);">Area</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(7);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(7);">Business Area</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(8);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(8);">Not Yet Due</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(9);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(9);">Due</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(10);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(10);">Current</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(11);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(11);">Overdue (0-30 days)</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(12);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(12);">Overdue (31-60 days)</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(13);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(13);">Overdue (61-90 days)</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(14);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(14);">Overdue (91-120 days)</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(15);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(15);">Overdue (121-360 days)</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(16);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(16);">Overdue (>360 days)</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(17);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(17);">Unapplied</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(18);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(18);">Total Outstanding</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(19);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(19);">Total Overdue</label></div></div>
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(20);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(20);">Net Overdue</label></div></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><input class="col-sm-1 lewatC" type="checkbox" checked onclick="showHide(21);"><div class="col-sm-11"><label class="control-label lewat" style="font-weight:400!important;" onclick="showHideC(21);">Description</label></div></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn" style="padding:5px 0 0 0;" onclick="generateExcel();">
                            <span class="excelIcon"></span>
                        </div>
                    </div>
                    <table id="parentTable" class="table table-condensed table-bordered table-striped table-hover dataTables-config-list nowrap">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th style="width:150px;">Customer Group</th>
                                <th style="width:150px;">Market Sector</th>
                                <th style="width:150px;">Classification</th>
                                <th style="width:150px;">Customer Number</th>
                                <th style="width:450px;">Customer Name</th>
                                <th style="width:150px;">Area</th>
                                <th style="width:150px;">Business Area</th>
                                <th style="width:150px;">Not Yet Due</th>
                                <th style="width:150px;">Due</th>
                                <th style="width:150px;">Current</th>
                                <th style="width:150px;">Overdue (0-30 days)</th>
                                <th style="width:150px;">Overdue (31-60 days)</th>
                                <th style="width:150px;">Overdue (61-90 days)</th>
                                <th style="width:150px;">Overdue (91-120 days)</th>
                                <th style="width:150px;">Overdue (121-360 days)</th>
                                <th style="width:150px;">Overdue (>360 days)</th>
                                <th style="width:150px;">Unapplied</th>
                                <th style="width:150px;">Total Outstanding</th>
                                <th style="width:150px;">Total Overdue</th>
                                <th style="width:150px;">Net Overdue</th>
                                <th style="width:500px;">Description</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th style="text-align: right;"> <label id="gt8"></label></th>
                                <th style="text-align: right;"> <label id="gt9"></label></th>
                                <th style="text-align: right;"><label id="gt10"></label></th>
                                <th style="text-align: right;"><label id="gt11"></label></th>
                                <th style="text-align: right;"><label id="gt12"></label></th>
                                <th style="text-align: right;"><label id="gt13"></label></th>
                                <th style="text-align: right;"><label id="gt14"></label></th>
                                <th style="text-align: right;"><label id="gt15"></label></th>
                                <th style="text-align: right;"><label id="gt16"></label></th>
                                <th style="text-align: right;"><label id="gt17"></label></th>
                                <th style="text-align: right;"><label id="gt18"></label></th>
                                <th style="text-align: right;"><label id="gt19"></label></th>
                                <th style="text-align: right;"><label id="gt20"></label></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        @*<link rel="stylesheet" href="~/lib/dataTables/media/css/jquery.dataTables.css" />*@
        <link rel="stylesheet" href="~/lib/dataTables/extensions/Scroller/css/scroller.dataTables.min.css" />
        <link rel="stylesheet" href="~/lib_bower/chosen_v1.7.0/chosen.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
        <script src="~/lib_bower/chosen_v1.7.0/chosen.jquery.min.js"></script>
        <script src="~/lib/dataTables/extensions/Pagination/pageInput.js"></script>
    </environment>

    <script type="text/javascript">
        Number.prototype.formatMoney = function (places, symbol, thousand, decimal) {
            places = !isNaN(places = Math.abs(places)) ? places : 2;
            symbol = symbol !== undefined ? symbol : "$";
            thousand = thousand || ",";
            decimal = decimal || ".";
            var number = this,
                negative = number < 0 ? "-" : "",
                i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
                j = (j = i.length) > 3 ? j % 3 : 0;
            return negative + '  ' + symbol + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
        };

        function generateExcel() {
            var search = $('#DataTables_Table_0_filter input').val();
            window.open("@Url.Action("GenerateExcelReportArAging", "ArAging")?search=" + search);
        }

        function advanceSearch() {
            var table = $('.dataTables-config-list').DataTable();
            table.ajax.reload();
        }

        function showChild(rowIndex) {
            var table = $('.dataTables-config-list').DataTable();
            var row = table.row(rowIndex);

            if (row.child.isShown()) {
                row.child.hide();
            }
            else {
                row.child(format(row.data())).show();
                initDataTable(row.data());
            }
        }

        function initDataTable(d)
        {
            var table = $('.dt' + d.CustomerGroup + d.CustomerNumber + d.Area + d.BusinessArea).DataTable({
                "dom": 'lTftp',
                "ajax": {
                    "url": '@Url.Action("GetInvoiceDetail", "ArAging")',
                    "data": function (param) {
                        param.customerGroup = d.CustomerGroup;
                        param.customerNumber = d.CustomerNumber;
                        param.area = d.Area;
                        param.businessArea = d.BusinessArea;
                    }
                },
                "columns": [
                    { "data": "InvoiceNumber" },
                    { "data": "InvoiceDate" },
                    {
                        "data": "NotYetDue",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "Due",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "Current",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue30",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue60",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue90",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue120",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue360",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDueGreaterThan360",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "UnApplied",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "TotalOutstanding",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "TotalOverDue",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "NetOverdue",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    }
                ],
                "columnDefs": [
                    { "targets": [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], "class": "text-right" }
                ],
                "scrollX": true,
                "processing": true,
                "serverSide": true
            });
        }



        function format(d) {            
            return '</br><div style="width:' + ($("#parentTable_wrapper").width() - 80) + 'px;margin-left:30px;">' +
                    '<table class="table table-condensed table-bordered table-striped table-hover dt' + d.CustomerGroup + d.CustomerNumber + d.Area + d.BusinessArea + ' nowrap" style="font-size:11px;">' +
                        '<thead>' +
                            '<tr>' +
                                '<th style="width:100px;">Invoice Number</th>' +
                                '<th style="width:100px;">Invoice Date</th>' +
                                '<th style="width:100px;">Not Yet Due</th>' +
                                '<th style="width:100px;">Due</th>' +
                                '<th style="width:100px;">Current</th>' +
                                '<th style="width:100px;">Overdue (0-30 days)</th>' +
                                '<th style="width:100px;">Overdue (31-60 days)</th>' +
                                '<th style="width:100px;">Overdue (61-90 days)</th>' +
                                '<th style="width:100px;">Overdue (91-120 days)</th>' +
                                '<th style="width:100px;">Overdue (121-360 days)</th>' +
                                '<th style="width:100px;">Overdue (>360 days)</th>' +
                                '<th style="width:100px;">Unapplied</th>' +
                                '<th style="width:100px;">Total Outstanding</th>' +
                                '<th style="width:100px;">Total Overdue</th>' +
                                '<th style="width:100px;">Net Overdue</th>' +
                            '</tr>' +
                        '</thead>' +
                        //'<tfoot>' +
                        //    '<tr>' +
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //        '<th></th>'
                        //    '</tr>' +
                        //'</tfoot>' +
                '</table></div>';
        }

        $(document).ready(function () {
            $(".chosen-select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Oops, nothing found!",
                width: "100%"
            });

            var table = $('.dataTables-config-list').DataTable({
                "dom": 'lTftp',
                "ajax": {
                    "url": '@Url.Action("GetArAging", "ArAging")',
                    "data": function (param) {
                        param.pCompanyCode = "";
                        $('#SelectedCompanyCode option:selected').each(function (index, element) {
                            param.pCompanyCode += element.value + ",";
                        });
                        param.pCustomerGroup = "";
                        $('#SelectedCustomerGroup option:selected').each(function (index, element) {
                            param.pCustomerGroup += element.value + ",";
                        });
                        param.pMarketSector = "";
                        $('#selectedMarketSector option:selected').each(function (index, element) {
                            param.pMarketSector += element.value + ",";
                        });
                        param.pArea = "";
                        $('#SelectedArea option:selected').each(function (index, element) {
                            param.pArea += element.value + ",";
                        });
                        param.pBusinessArea = "";
                        $('#SelectedBusinessArea option:selected').each(function (index, element) {
                            param.pBusinessArea += element.value + ",";
                        });
                        param.pClassification = "";
                        $('#selectedClassification option:selected').each(function (index, element) {
                            param.pClassification += element.value + ",";
                        });
                    }
                },
                "columns": [
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<span class="label label-edit"><a href= "@Url.Action("Detail", "ArAging")?cg=' + row.CustomerGroup + '&cn=' + row.CustomerNumber + '&a=' + row.Area + '&ba=' + row.BusinessArea + '" style="color:#FFF;">Detail By PC</a></span> ' +
                                '<span class="label label-edit"><a href="#" onclick="showChild(' + "'" + meta.row + "'" + '); return false;" style="color:#FFF;">Detail By Invoice</a></span> ' +
                                '<span class="label label-add"><a href= "@Url.Action("Payment", "ArAging")?cg=' + row.CustomerGroup + '&cn=' + row.CustomerNumber + '&a=' + row.Area + '&ba=' + row.BusinessArea + '&cnm=' + row.CustomerName + '" style="color:#FFF;">Payment Plan</a></span> ';
                        }
                    },
                    { "data": "CustomerGroup" },
                    { "data": "MarketSector" },
                    { "data": "Classification" },
                    { "data": "CustomerNumber" },
                    { "data": "CustomerName" },
                    { "data": "AreaName" },
                    { "data": "BusinessArea" },
                    {
                        "data": "NotYetDue",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "Due",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "Current",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue30",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue60",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue90",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue120",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDue360",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "OverDueGreaterThan360",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "UnApplied",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "TotalOutstanding",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "TotalOverDue",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    {
                        "data": "NetOverdue",
                        "render": function (data, type, row) {
                            return data.formatMoney(2, "$", ",", ".");
                        }
                    },
                    { "data": "Description" }
                ],
                "columnDefs": [
                    { "targets": [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], "class": "text-right" }
                ],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    var colNumber = [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20];

                    for (i = 0; i < colNumber.length; i++) {
                        if (api.column(colNumber[i]).data().length) {
                            var pageTotal = api
                                .column(colNumber[i], { page: 'current' })
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                });
                        }
                        else { pageTotal = 0; pageGrandTotal = 0; };

                        $(api.column(colNumber[i]).footer()).html(pageTotal.formatMoney(2, "$", ",", "."));
                    }

                    for (i = 0; i < colNumber.length; i++) {
                        $("#gt" + (i + 8)).text(parseFloat(this.api().ajax.json().grandTotal.split("|")[i]).formatMoney(2, "$", ",", "."));
                    }
                },
                "scrollX": true,
                "processing": true,
                "serverSide": true, //,
                //"pagingType": "input"
            });
        });

        $('div.dropdown a').on('click', function (event) {
            $(this).parent().toggleClass('open');
        });

        $('body').on('click', function (e) {
            if (!$('div.dropdown').is(e.target)
                && $('div.dropdown').has(e.target).length === 0
                && $('.open').has(e.target).length === 0
            ) {
                $('div.dropdown').removeClass('open');
            }
        });

        function showHide(col) {
            var table = $('.dataTables-config-list').DataTable();
            var column = table.column(col);
            column.visible(!column.visible());
        }

        function showHideC(col) {
            var table = $('.dataTables-config-list').DataTable();
            var column = table.column(col);
            column.visible(!column.visible());

            $('.lewatC')[col - 1].checked = !$('.lewatC')[col - 1].checked;
        }
    </script>
}
