﻿@using CollectionMonitoringSystem.Context
@model IEnumerable<Payment>
@{
    ViewData["Title"] = "AR Status Payment Plan";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>Payment</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ArAging")">AR Status</a>
            </li>
            <li>
                <a href="@Url.Action("Detail", "ArAging")?cg=@ViewBag.CustomerGroup&cn=@ViewBag.CustomerNumber&a=@ViewBag.Area&ba=@ViewBag.BusinessArea">Detail</a>
            </li>
            <li>
                <a href="#">Payment</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Payment Plan @TempData["cnm"]</h5>
                </div>
                <div class="ibox-content">
                    <span class="label label-add"><a href="@Url.Action("PaymentData", "ArAging")?cg=@ViewBag.CustomerGroup&cn=@ViewBag.CustomerNumber&a=@ViewBag.Area&ba=@ViewBag.BusinessArea" style="color:#FFF;">Add Payment Plan</a></span><br /><br />
                    <table class="table table-striped table-bordered table-condensed table-hover dataTables-config-list nowrap">
                        <thead>
                            <tr>
                                <th class="col-sm-2">Action </th>
                                <th class="col-sm-2">Payment Type</th>
                                <th class="col-sm-2">Week 1</th>
                                <th class="col-sm-2">Week 2</th>
                                <th class="col-sm-2">Week 3</th>
                                <th class="col-sm-2">Week 4</th>
                                <th>Reason</th>
                                <th>Status</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model)
                            {
                                <tr>
                                    <td class="col-sm-2"><span class="label label-manage col-md-offset-1"><a href="@Url.Action("PaymentHistory", "ArAging")?cg=@ViewBag.CustomerGroup&cn=@ViewBag.CustomerNumber&a=@ViewBag.Area&ba=@ViewBag.BusinessArea&pType=@data.PaymentType" style="color:#FFF;">History</a></span></td>
                                    <td class="col-sm-2">@data.PaymentType.ToString()</td>
                                    <td class="col-sm-2">@data.Week1</td>
                                    <td class="col-sm-2">@data.Week2</td>
                                    <td class="col-sm-2">@data.Week3</td>
                                    <td class="col-sm-2">@data.Week4</td>
                                    <td>@data.Reason.Description</td>
                                    <td>@data.Reason.Status.Description</td>
                                    <td>@data.Description</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/dataTables/extensions/Scroller/css/scroller.dataTables.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-config-list').DataTable({
                dom: 'lTftp',
                scrollX: true
            });
            @if((TempData["notification"] as int?) == 0)
            {
                @:toastr.success('A new data has been saved');
            }
            @if((TempData["notification"] as int?) == 1)
            {
                @:toastr.success('Data has been updated');
            }
            @if((TempData["notification"] as int?) < 0)
            {
                @:toastr.error('Failed to save data');
            }
        });
    </script>
}
