﻿@using CollectionMonitoringSystem.Context;
@using CollectionMonitoringSystem.Context.Models;
@using System.Collections.Generic;
@model PaymentModel
@{
    ViewBag.Title = "Add Payment";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>Add Payment</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ArAging")">AR Status</a>
            </li>
            <li>
                <a href="@Url.Action("Detail", "ArAging")?cg=@Model.CustomerGroup&cn=@Model.CustomerNumber&a=@Model.Area&ba=@Model.BusinessArea">Detail</a>
            </li>
            <li>
                <a href="@Url.Action("Payment", "ArAging")?cg=@Model.CustomerGroup&cn=@Model.CustomerNumber&a=@Model.Area&ba=@Model.BusinessArea">Payment</a>
            </li>
            <li>
                <a href="#">Add</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Payment Add Form</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("PaymentData", "ArAging", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            @Html.HiddenFor(x => x.CustomerGroup)
                            @Html.HiddenFor(x => x.CustomerNumber)
                            @Html.HiddenFor(x => x.Area)
                            @Html.HiddenFor(x => x.BusinessArea)
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label class="col-md-2 control-label">Week 1</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.Week1, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Week1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Week 2</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.Week2, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Week2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Week 3</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.Week3, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Week3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Week 4</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.Week4, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Week4, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Payment Type</label>
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(x => x.PaymentType, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Reason</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.ReasonId, new SelectList((IList<Reason>)ViewBag.ReasonList, "Id", "Description"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ReasonId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Description</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>