﻿@using CollectionMonitoringSystem.Context;
@using CollectionMonitoringSystem.Context.Models;
@using System.Collections.Generic;
@model EmailNotificationModel
@{
    ViewBag.Title = ViewBag.SubTitle + " Email Configuration";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.SubTitle Email Configuration</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Email")">Email Configuration</a>
            </li>
            <li>
                <a href="#">@ViewBag.SubTitle</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Email Configuration @ViewBag.SubTitle Form</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Data", "Email", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label class="col-md-2 control-label">Reminder (days)</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.Overdue, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Overdue, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Notify To Sales</label>
                                <div class="col-md-10 ">
                                    @Html.CheckBoxFor(x => x.NotifyToSales, new { @class = "checkbox checkbox-primary" })
                                    @Html.ValidationMessageFor(x => x.NotifyToSales, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Notify To Supervisor</label>
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(x => x.NotifyToSupervisor, new { @class = "checkbox checkbox-primary" })
                                    @Html.ValidationMessageFor(x => x.NotifyToSupervisor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Notify To Manager</label>
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(x => x.NotifyToManager, new { @class = "checkbox checkbox-primary" })
                                    @Html.ValidationMessageFor(x => x.NotifyToManager, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Notify To Finance</label>
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(x => x.NotifyToFinance, new { @class = "checkbox checkbox-primary" })
                                    @Html.ValidationMessageFor(x => x.NotifyToFinance, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Notify To GM Sales</label>
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(x => x.NotifyToGmSales, new { @class = "checkbox checkbox-primary" })
                                    @Html.ValidationMessageFor(x => x.NotifyToGmSales, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Notify To Chief</label>
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(x => x.NotifyToChief, new { @class = "checkbox checkbox-primary" })
                                    @Html.ValidationMessageFor(x => x.NotifyToChief, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-2 control-label">Email Template</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.EmailContentId, new SelectList((IList<EmailContent>)ViewBag.TemplateList, "Id", "Name"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.EmailContentId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>