﻿@{
    ViewBag.Title = "Email Configuration";
}

<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>Email Configuration</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Email")">Email Configuration</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Configuration List</h5>
                </div>
                <div class="ibox-content">
                    <span class="label label-add"><a href="@Url.Action("Data", "Email")" style="color:#FFF;">Add Configuration</a></span> 
                    <span class="label label-manage"><a href="@Url.Action("Template", "Email")" style="color: #FFF;">Manage Template</a></span>
                    <span class="label label-info"><a href="@Url.Action("Index", "Finance")" style="color: #FFF;">Manage Email</a></span>
                    <br/><br/>
                    <table class="table table-striped table-bordered table-condensed table-hover dataTables-config-list">
                        <thead>
                        <tr>
                            <th>Action </th>
                            <th>Reminder (days)</th>
                            <th>Notify Sales</th>
                            <th>Notify Superior 1</th>
                            <th>Notify Superior 2</th>
                            <th>Notify Finance</th>
                            <th>Notify GM Sales</th>
                            <th>Notify Chief</th>
                            <th>Template </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/dataTables/extensions/Scroller/css/scroller.dataTables.min.css" />
        <link rel="stylesheet" href="~/lib_bower/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib_bower/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-config-list').DataTable({
                "dom": 'lTftp',
                "ajax": '@Url.Action("GetConfigurationList", "Email")',
                "columns": [
                    {
                        "data": "Id", "render": function (data, type, row) {
                            return '<span class="label label-edit"><a href="@Url.Action("Data", "Email")/' + data + '" style="color:#FFF;">Edit</a></span> ' +
                                   '<span class="label label-delete"><a href="javascript:deleteData(' + data + ');" style="color:#FFF;">Delete</a></span>';
                        }
                    },
                    { "data": "Overdue" },
                    {
                        "data": "NotifyToSales", "render": function (data, type, row) {
                            if (data)
                                return '<div class="checkbox checkbox-primary"><input id="checkbox1" type="checkbox" checked disabled><label for="checkbox1"></label></div>';
                            else
                                return '<div class="checkbox checkbox-primary"><input id="checkbox1" type="checkbox" disabled><label for="checkbox1"></label></div>';
                        }
                    },
                    {
                        "data": "NotifyToSupervisor", "render": function (data, type, row) {
                            if (data)
                                return '<div class="checkbox checkbox-primary"><input id="checkbox2" type="checkbox" checked disabled><label for="checkbox2"></label></div>';
                            else
                                return '<div class="checkbox checkbox-primary"><input id="checkbox2" type="checkbox" disabled><label for="checkbox2"></label></div>';
                        }
                    },
                    {
                        "data": "NotifyToManager", "render": function (data, type, row) {
                            if (data)
                                return '<div class="checkbox checkbox-primary"><input id="checkbox3" type="checkbox" checked disabled><label for="checkbox3"></label></div>';
                            else
                                return '<div class="checkbox checkbox-primary"><input id="checkbox3" type="checkbox" disabled><label for="checkbox3"></label></div>';
                        }
                    },
                    {
                        "data": "NotifyToFinance", "render": function (data, type, row) {
                            if (data)
                                return '<div class="checkbox checkbox-primary"><input id="checkbox1" type="checkbox" checked disabled><label for="checkbox1"></label></div>';
                            else
                                return '<div class="checkbox checkbox-primary"><input id="checkbox1" type="checkbox" disabled><label for="checkbox1"></label></div>';
                        }
                    },
                    {
                        "data": "NotifyToGmSales", "render": function (data, type, row) {
                            if (data)
                                return '<div class="checkbox checkbox-primary"><input id="checkbox1" type="checkbox" checked disabled><label for="checkbox1"></label></div>';
                            else
                                return '<div class="checkbox checkbox-primary"><input id="checkbox1" type="checkbox" disabled><label for="checkbox1"></label></div>';
                        }
                    },
                    {
                        "data": "NotifyToChief", "render": function (data, type, row) {
                            if (data)
                                return '<div class="checkbox checkbox-primary"><input id="checkbox1" type="checkbox" checked disabled><label for="checkbox1"></label></div>';
                            else
                                return '<div class="checkbox checkbox-primary"><input id="checkbox1" type="checkbox" disabled><label for="checkbox1"></label></div>';
                        }
                    },
                    { "data": "TemplateName" }
                ]
            });
            @if((TempData["notification"] as int?) == 0)
            {
                @:toastr.success('A new data has been saved');
            }
            @if((TempData["notification"] as int?) == 1)
            {
                @:toastr.success('Data has been updated');
            }
        });

        function deleteData(id) {
            $.post("@Url.Action("DeleteEmailConfiguration", "Email")", { id: id }, function (data) {
                if (data == 1) {
                    $('.dataTables-config-list').DataTable().ajax.reload();
                    toastr.warning('Data has been deleted');
                }
                else if (data == 2) {
                    toastr.error('Data can not be deleted because it is being used as a reference in another data', 'Foreign key constraint violation');
                }
                else {
                    toastr.error('Failed to delete data');
                }
            });
        }
    </script>
}
