﻿@using CollectionMonitoringSystem.Context.Models;
@model EmailContentModel
@{
    ViewBag.Title = ViewBag.SubTitle + " Template";
}
<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.SubTitle Email Template</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Email")">Email Configuration</a>
            </li>
            <li>
                <a href="@Url.Action("Template", "Email")">Template</a>
            </li>
            <li>
                <a href="#">@ViewBag.SubTitle</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Email Template @ViewBag.SubTitle Form</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("TemplateData", "Email", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label class="col-md-2 control-label">Template Name</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Subject</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">e-Mail Content</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(x => x.Content, new { @class = "summernote" })
                                    @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_bower/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/summernote/dist/summernote.css">
    </environment>

}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib_bower/jquery/dist/jquery.js"></script>
        <script src="~/lib_bower/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/summernote/dist/summernote.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.summernote').summernote({
                height: 300,
                minHeight: 300,
                hint: {
                    mentions: ['summary>>', 'salesname>>'],
                    match: /\B<<(\w*)$/,
                    search: function (keyword, callback) {
                        callback($.grep(this.mentions, function (item) {
                            return item.indexOf(keyword) == 0;
                        }));
                    },
                    content: function (item) {
                        return '<<' + item;
                    }
                }
            });

        });

    </script>
}
