﻿@{
    ViewBag.Title = "Email Template";
}

<div class="row wrapper breadbox white-bg page-heading">
    <div class="col-lg-10">
        <h2>Email Template</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Email")">Email Configuration</a>           
            </li>
            <li>
                <a href="@Url.Action("Template", "Email")">Template</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Template List</h5>
                </div>
                <div class="ibox-content">
                    <span class="label label-add"><a href="@Url.Action("TemplateData", "Email")" style="color: #FFF;">Add Template</a></span><br/><br/>
                    <table class="table table-striped table-bordered table-condensed table-hover dataTables-config-list">
                        <thead>
                        <tr>
                            <th>Action </th>
                            <th>Name</th>
                            <th>Subject</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/dataTables/extensions/Scroller/css/scroller.dataTables.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-config-list').DataTable({
                "dom": 'lTftp',
                "ajax": '@Url.Action("GetTemplateList", "Email")',
                "columns": [
                    {
                        "data": "Id", "render": function (data, type, row) {
                            return '<span class="label label-edit"><a href="@Url.Action("TemplateData", "Email")/' + data + '" style="color:#FFF;">Edit</a></span> ' +
                                   '<span class="label label-delete"><a href="javascript:deleteData(' + data + ');" style="color:#FFF;">Delete</a></span>';
                        }
                    },
                    { "data": "Name" },
                    { "data": "Subject" }
                ]
            });
            @if((TempData["notification"] as int?) == 0)
            {
                @:toastr.success('A new data has been saved');
            }
            @if((TempData["notification"] as int?) == 1)
            {
                @:toastr.success('Data has been updated');
            }
        });

        function deleteData(id) {
            $.post("@Url.Action("DeleteTemplate", "Email")", { id: id }, function (data) {
                if (data == 1) {
                    $('.dataTables-config-list').DataTable().ajax.reload();
                    toastr.warning('Data has been deleted');
                }
                else if (data == 2) {
                    toastr.error('Data can not be deleted because it is being used as a reference in another data', 'Foreign key constraint violation');
                }
                else {
                    toastr.error('Failed to delete data');
                }
            });
        }
    </script>
}
