﻿@*@using CollectionMonitoringSystem.UserManagement;
@model EmployeeMaster 

<p>@Model.BranchId</p>
<p>@Model.DivisionId</p>
<p>@Model.EmployeeId</p>
<p>@Model.JobTitle</p>
<p>@Model.PositionName</p>
<p>@Model.RBC</p>*@

@*<table>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.BranchId</td>
            <td>@x.DivisionId</td>
            <td>@x.EmployeeId</td>
            <td>@x.JobTitle</td>
            <td>@x.PositionName</td>
            <td>@x.RBC</td>
        </tr>
    }
</table>*@
