﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>.:: PT. Trakindo Utama ::.</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib_bower/bootstrap/dist/css/bootstrap.css" />
    <link href="~/Content/login1.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />

    <script src="~/lib_bower/jquery/dist/jquery.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/lib_bower/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>
</head>
<body>
    <header class="header">
        <a href="" class="logo">
            <img src="~/Content/Images/logotrakindo.jpg" alt="Trakindo">
        </a>
        <nav class="navbar navbar-static-top" role="navigation"></nav>
    </header>

    <div class="content bg">
        <div class="form-signin-1">
            <div class="form-signin-heading">
                <img src="~/Content/Images/logotrakindo.jpg" width="186px" height="47px" alt="" />
                <center>
                    <h2 style="margin:0;"><small><b>Ar Aging Collection Monitoring</b></small></h2>
                </center>
            </div>
            <div class="login-wrap">
                <center>
                    <h2><small><b>Please wait while the system try to check your login status in portal...</b></small></h2>
                </center>
            </div>
         </div>
    </div>
    <script  type="text/javascript">
        $(document).ready(function (){
            var arraydata = {};
            var arrdata = JSON.stringify(arraydata);
            $.ajax({
                crossDomain: true,
                url: "@System.Configuration.ConfigurationManager.AppSettings["UserPortal"]",
                type: "POST",
                data: arrdata,
                datatype: "json",
                contentType: "application/json",
                processData: false,
                success: function (datax) {

                    $.post("@Url.Action("RegisterUserAcm", "Account")", { json: JSON.stringify(datax) }, function (data) {
                        if (data == 1) {
                            window.location.href = "@Url.Action("Index", "Home")";
                        }
                        if (data == 0) {
                            swal("You dont have authorization to open this web application. Please login to portal first.");
                            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["UrlPortal"]";
                        }

                    });
                },
                error: function () {
                    swal("Portal service cannot be access right now");
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["UrlPortal"]";
                }
            });
        });
    </script>
</body>
</html>